@font-face {
    font-family: celestia;
    src: url("/fonts/celestia.eot") format("eot");
    src: url("/fonts/celestia.otf") format("otf");
    src: url("/fonts/celestia.svg") format("svg");
    src: url("/fonts/celestia.ttf") format("truetype");
    src: url("/fonts/celestia.woff") format("woff");
    font-weight: 100;
    font-style: normal;
}

body {
    font-family: celestia, serif;
    font-size: 25px;
    color: #00ffff;
    background-color: #000;
    text-align: center;
}

#index {
    font-size: xxx-large;
}

#time {
    font-size: xx-large;
}
